@model Color
@{
    ViewData["Title"] = "Edit";
}

<main class="main-panel">
    <h1 style="text-align:center; background-color:grey">Create Color</h1>
    <form method="post" class="mt-2">
        <div>
            <label>Color Name:</label><br />
            <input asp-for="Name" class="form-control" /><br />
            <span class="text text-danger" asp-validation-for="Name"></span>
        </div>
        @*<select method="post" class="nice-select wide border-bottom-0 rounded-0">
                <option value="default">red</option>
                <option value="blue">Blue</option>
                <option value="green">Green</option>
                <option value="red">Red</option>
            </select>*@
        <div class="mt-2">
            <button class="btn btn-success" type="submit">
                Create
            </button>
        </div>
    </form>
</main>
